$res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200 : "only screen and (min-width: 1200px)";
 
@mixin responsive_320() {
    @media #{$res_320} {
        @content;
    }
}
@mixin responsive_375() {
    @media #{$res_375} {
        @content;
    }
}
@mixin responsive_425() {
    @media #{$res_425} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}
@mixin responsive_1200() {
    @media #{$res_1200} {
        @content;
    }
}

@include responsive_320{
    .header-top{
        .top-icon{
            a{
                padding: 10px 0 10px 0;
            }
        }
        .login{
            a{
                padding: 10px 0 10px 0;
            }
        }
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-default .navbar-nav>.active>a,.navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover{
        padding: 15px;
    }
    .slide-bar{
        h2{
            padding: 20px 0px 10px 0px;
        }
    }

    .main .tieu-de-center h2{
        margin-top: 30px;
    }
    /* bán chạy */
    .main .ban-product .san-pham .cate-new-product{
        font-size: 12px;
    }
    .main .ban-product .san-pham h4{
        font-size: 12px;
        margin: 0px;
    }
    .main .ban-product .san-pham .xem-product{
        margin-top: 10px;
    }
    .main .ban-product .san-pham .xem-product .gio-hang-product{
        padding:5px;
    }
    .main .ban-product .san-pham .xem-product .xem-them-product {
        padding: 5px;
    }

    .media{
        img{
            width: 80px;
            height: 80px;
        }
        .media-body{
            padding: 5px 5px 0px 10px;
            h4{
                font-size: 8px;
                font-family: 'Arimo', sans-serif;
                font-weight: bold;
                color: #004e7c;
                text-transform: uppercase;
            }
            p{
                font-size: 7px;
                font-family: 'Arimo', sans-serif;
                line-height: 1.286;
                text-align: justifyLeft;
                margin-bottom: 0;
            }
            a{
                font-size: 7px;
                font-family: "Arimo";
                color: rgb( 0, 78, 124 );
                line-height: 1.286;
                text-align: justifyLeft;
            }
        }
    }

    .main-product{
        .product-cate{
            /* phân trang */
            .pagination>li>a, .pagination>li>span{
                color: #747474;
                font-size: 8px;
                font-weight: bold;
                margin-left: 0;
            }
            .pagination>li:first-child>a, .pagination>li:first-child>span{
                margin-right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .pagination>li:last-child>a, .pagination>li:last-child>span{
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

}

@include responsive_375{
    .header-top{
        .top-icon{
            a{
                padding: 10px 0 10px 0;
            }
        }
        .login{
            a{
                padding: 10px 0 10px 0;
            }
        }
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-default .navbar-nav>.active>a,.navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover{
        padding: 15px;
    }

    .slide-bar{
        h2{
            padding: 20px 0px 10px 0px;
        }
    }

    .main .tieu-de-center h2{
        margin-top: 30px;
    }
    /* bán chạy */
    .main .ban-product .san-pham .cate-new-product{
        font-size: 12px;
    }
    .main .ban-product .san-pham h4{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .main .ban-product .san-pham .xem-product{
        margin-top: 20px;
    }
    .main .ban-product .san-pham .xem-product .gio-hang-product{
        padding:5px;
    }
    .main .ban-product .san-pham .xem-product .xem-them-product {
        padding: 5px;
    }
    
    .media{
        img{
            width: 90px;
            height: 90px;
        }
        .media-body{
            padding: 5px 5px 0px 10px;
            h4{
                font-size: 9px;
                font-family: 'Arimo', sans-serif;
                font-weight: bold;
                color: #004e7c;
                text-transform: uppercase;
            }
            p{
                font-size: 8px;
                font-family: 'Arimo', sans-serif;
                line-height: 1.286;
                text-align: justifyLeft;
                margin-bottom: 0;
            }
            a{
                font-size: 8px;
                font-family: "Arimo";
                color: rgb( 0, 78, 124 );
                line-height: 1.286;
                text-align: justifyLeft;
            }
        }
    }

    .main-product{
        .product-cate{
            /* phân trang */
            .pagination>li>a, .pagination>li>span{
                color: #747474;
                font-size: 12px;
                font-weight: bold;
                margin-left: 0;
            }
            .pagination>li:first-child>a, .pagination>li:first-child>span{
                margin-right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .pagination>li:last-child>a, .pagination>li:last-child>span{
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

@include responsive_425{
    .navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-default .navbar-nav>.active>a,.navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover{
        padding: 15px;
    }

    .slide-bar{
        h2{
            padding: 20px 0px 10px 0px;
        }
    }

    .main .main-top{
    }
        
    .main .tieu-de-center h2{
        margin-top: 30px;
    }
    /* bán chạy */
    .main .ban-product .san-pham .cate-new-product{
        font-size: 12px;
    }
    .main .ban-product .san-pham h4{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 10px;
    }
    .main .ban-product .san-pham .xem-product{
        margin-top: 20px;
    }
    .main .ban-product .san-pham .xem-product .gio-hang-product{
        padding:5px;
    }
    .main .ban-product .san-pham .xem-product .xem-them-product {
        padding: 5px;
    }
    
    .media{
        img{
            width: 100px;
            height: 100px;
        }
        .media-body{
            padding: 5px 5px 0px 10px;
            h4{
                font-size: 12px;
                font-family: 'Arimo', sans-serif;
                font-weight: bold;
                color: #004e7c;
                text-transform: uppercase;
            }
            p{
                font-size: 10px;
                font-family: 'Arimo', sans-serif;
                line-height: 1.286;
                text-align: justifyLeft;
                margin-bottom: 0;
            }
            a{
                font-size: 10px;
                font-family: "Arimo";
                color: rgb( 0, 78, 124 );
                line-height: 1.286;
                text-align: justifyLeft;
            }
        }
    }

    .main-product{
        .product-cate{
            /* phân trang */
            .pagination>li>a, .pagination>li>span{
                color: #747474;
                font-size: 14px;
                font-weight: bold;
                margin-left: 0;
            }
            .pagination>li:first-child>a, .pagination>li:first-child>span{
                margin-right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .pagination>li:last-child>a, .pagination>li:last-child>span{
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

@include responsive_768{
    .main .main-top .product h4{
        left: 40px;
        top: 50px;
        font-size: 60px;
    }
    .main .main-top .product .ten-anh{
        font-size: 60px;
        left: 40px;
        top: 80px;
    }
    .navbar-default .cart a{
        padding-left: 0px;
        padding-right: 600px;
        padding-top: 20px;
    }
    .navbar-right .dropdown-menu {
        right: 300px;
        width: 400px;
        left: auto;
    }

    .slide-bar{
        h2{
            padding: 50px 0px 10px 0px;
        }
    }
    .main .tieu-de-center h2{
        margin-top: 40px;
    }
    /* bán chạy */
    .main .ban-product .san-pham .cate-new-product{
        font-size: 12px;
    }
    .main .ban-product .san-pham h4{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .main .ban-product .san-pham .xem-product{
        margin-top: 20px;
    }
    .main .ban-product .san-pham .xem-product .gio-hang-product{
        padding:5px;
    }
    .main .ban-product .san-pham .xem-product .xem-them-product {
        padding: 5px;
    }
    

    .main-product{
        .product-cate{
            /* phân trang */
            .pagination>li>a, .pagination>li>span{
                color: #747474;
                font-size: 14px;
                font-weight: bold;
                margin-left: 0;
            }
            .pagination>li:first-child>a, .pagination>li:first-child>span{
                margin-right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .pagination>li:last-child>a, .pagination>li:last-child>span{
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    .main .product-new .new-product:hover .cart-xem{
        top:90px;
        right: -17px;
    }
    .main-product .product-cate .new-product:hover .cart-xem{
        top:90px;
        right: -7px;
    }
    .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem{
        top:70px;
        right: -13px;
    }
    .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem .xem-them{
        padding: 5px 13px;
    }
    .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem .gio-hang{
        padding: 5px;
    }
}

@include responsive_992{
    
}

@include responsive_1024{
    
}

@include responsive_1200{
    
}