@charset "UTF-8";
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .header-top .top-icon a {
    padding: 10px 0 10px 0;
  }
  .header-top .login a {
    padding: 10px 0 10px 0;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 15px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    padding: 15px;
  }

  .slide-bar h2 {
    padding: 20px 0px 10px 0px;
  }

  .main .tieu-de-center h2 {
    margin-top: 30px;
  }

  /* b├ín chß║íy */
  .main .ban-product .san-pham .cate-new-product {
    font-size: 12px;
  }

  .main .ban-product .san-pham h4 {
    font-size: 12px;
    margin: 0px;
  }

  .main .ban-product .san-pham .xem-product {
    margin-top: 10px;
  }

  .main .ban-product .san-pham .xem-product .gio-hang-product {
    padding: 5px;
  }

  .main .ban-product .san-pham .xem-product .xem-them-product {
    padding: 5px;
  }

  .media img {
    width: 80px;
    height: 80px;
  }
  .media .media-body {
    padding: 5px 5px 0px 10px;
  }
  .media .media-body h4 {
    font-size: 8px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #004e7c;
    text-transform: uppercase;
  }
  .media .media-body p {
    font-size: 7px;
    font-family: 'Arimo', sans-serif;
    line-height: 1.286;
    text-align: justifyLeft;
    margin-bottom: 0;
  }
  .media .media-body a {
    font-size: 7px;
    font-family: "Arimo";
    color: #004e7c;
    line-height: 1.286;
    text-align: justifyLeft;
  }

  .main-product .product-cate {
    /* ph├ón trang */
  }
  .main-product .product-cate .pagination > li > a, .main-product .product-cate .pagination > li > span {
    color: #747474;
    font-size: 8px;
    font-weight: bold;
    margin-left: 0;
  }
  .main-product .product-cate .pagination > li:first-child > a, .main-product .product-cate .pagination > li:first-child > span {
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-product .product-cate .pagination > li:last-child > a, .main-product .product-cate .pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .header-top .top-icon a {
    padding: 10px 0 10px 0;
  }
  .header-top .login a {
    padding: 10px 0 10px 0;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 15px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    padding: 15px;
  }

  .slide-bar h2 {
    padding: 20px 0px 10px 0px;
  }

  .main .tieu-de-center h2 {
    margin-top: 30px;
  }

  /* b├ín chß║íy */
  .main .ban-product .san-pham .cate-new-product {
    font-size: 12px;
  }

  .main .ban-product .san-pham h4 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }

  .main .ban-product .san-pham .xem-product {
    margin-top: 20px;
  }

  .main .ban-product .san-pham .xem-product .gio-hang-product {
    padding: 5px;
  }

  .main .ban-product .san-pham .xem-product .xem-them-product {
    padding: 5px;
  }

  .media img {
    width: 90px;
    height: 90px;
  }
  .media .media-body {
    padding: 5px 5px 0px 10px;
  }
  .media .media-body h4 {
    font-size: 9px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #004e7c;
    text-transform: uppercase;
  }
  .media .media-body p {
    font-size: 8px;
    font-family: 'Arimo', sans-serif;
    line-height: 1.286;
    text-align: justifyLeft;
    margin-bottom: 0;
  }
  .media .media-body a {
    font-size: 8px;
    font-family: "Arimo";
    color: #004e7c;
    line-height: 1.286;
    text-align: justifyLeft;
  }

  .main-product .product-cate {
    /* ph├ón trang */
  }
  .main-product .product-cate .pagination > li > a, .main-product .product-cate .pagination > li > span {
    color: #747474;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0;
  }
  .main-product .product-cate .pagination > li:first-child > a, .main-product .product-cate .pagination > li:first-child > span {
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-product .product-cate .pagination > li:last-child > a, .main-product .product-cate .pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    padding: 15px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    padding: 15px;
  }

  .slide-bar h2 {
    padding: 20px 0px 10px 0px;
  }

  .main .tieu-de-center h2 {
    margin-top: 30px;
  }

  /* b├ín chß║íy */
  .main .ban-product .san-pham .cate-new-product {
    font-size: 12px;
  }

  .main .ban-product .san-pham h4 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .main .ban-product .san-pham .xem-product {
    margin-top: 20px;
  }

  .main .ban-product .san-pham .xem-product .gio-hang-product {
    padding: 5px;
  }

  .main .ban-product .san-pham .xem-product .xem-them-product {
    padding: 5px;
  }

  .media img {
    width: 100px;
    height: 100px;
  }
  .media .media-body {
    padding: 5px 5px 0px 10px;
  }
  .media .media-body h4 {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #004e7c;
    text-transform: uppercase;
  }
  .media .media-body p {
    font-size: 10px;
    font-family: 'Arimo', sans-serif;
    line-height: 1.286;
    text-align: justifyLeft;
    margin-bottom: 0;
  }
  .media .media-body a {
    font-size: 10px;
    font-family: "Arimo";
    color: #004e7c;
    line-height: 1.286;
    text-align: justifyLeft;
  }

  .main-product .product-cate {
    /* ph├ón trang */
  }
  .main-product .product-cate .pagination > li > a, .main-product .product-cate .pagination > li > span {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
  }
  .main-product .product-cate .pagination > li:first-child > a, .main-product .product-cate .pagination > li:first-child > span {
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-product .product-cate .pagination > li:last-child > a, .main-product .product-cate .pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main .main-top .product h4 {
    left: 40px;
    top: 50px;
    font-size: 60px;
  }

  .main .main-top .product .ten-anh {
    font-size: 60px;
    left: 40px;
    top: 80px;
  }

  .navbar-default .cart a {
    padding-left: 0px;
    padding-right: 600px;
    padding-top: 20px;
  }

  .navbar-right .dropdown-menu {
    right: 300px;
    width: 400px;
    left: auto;
  }

  .slide-bar h2 {
    padding: 50px 0px 10px 0px;
  }

  .main .tieu-de-center h2 {
    margin-top: 40px;
  }

  /* b├ín chß║íy */
  .main .ban-product .san-pham .cate-new-product {
    font-size: 12px;
  }

  .main .ban-product .san-pham h4 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }

  .main .ban-product .san-pham .xem-product {
    margin-top: 20px;
  }

  .main .ban-product .san-pham .xem-product .gio-hang-product {
    padding: 5px;
  }

  .main .ban-product .san-pham .xem-product .xem-them-product {
    padding: 5px;
  }

  .main-product .product-cate {
    /* ph├ón trang */
  }
  .main-product .product-cate .pagination > li > a, .main-product .product-cate .pagination > li > span {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
  }
  .main-product .product-cate .pagination > li:first-child > a, .main-product .product-cate .pagination > li:first-child > span {
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-product .product-cate .pagination > li:last-child > a, .main-product .product-cate .pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main .product-new .new-product:hover .cart-xem {
    top: 90px;
    right: -7px;
  }

  .main-product .product-cate .new-product:hover .cart-xem {
    top: 90px;
    right: -7px;
  }

  .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem {
    top: 70px;
    right: -13px;
  }

  .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem .xem-them {
    padding: 5px 13px;
  }

  .main-product .product-cate .sanpham-cung-loai .new-product .cart-xem .gio-hang {
    padding: 5px;
  }
}

/*# sourceMappingURL=responsive.css.map */
